footer {
  background-color: #f7f7f7;
  padding-top: 100px;
}

.FooterDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
}

.Lists ul {
  line-height: 32px;
  margin: 20px;
}

.Lists ul li {
  opacity: 0.8;
  font-family: Gilroy-Medium;
  font-size: 15px;
  color: #1e1e1e;
  white-space: nowrap;
}

.Lists ul li img {
  position: relative;
  top: 5px;
}

.Lists .heading {
  color: #f6973f;
  font-size: 17px;
  font-family: "DM sans" !important;
  font-weight: 400;
}

.textFooterDiv {
  margin: 20px;
  text-align: center;
}

.textFooterDiv h2 {
  font-family: "Gilroy-Bold";
  font-size: 28px;
  color: #1e1e1e;
}

.textFooterDiv p {
  font-family: "Gilroy-Medium";
  font-size: 15px;
  line-height: 24px;
  color: #1e1e1e;
  margin: 0 auto;
  max-width: 300px;
}

.Others {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  text-align: center;
}

.Others .copyright,
.Others .termsPrivacy {
  opacity: 0.8;
  font-family: "DM Sans";
  color: #1e2833;
  margin: 5px 0px;
}

.Others .termsPrivacy {
  font-family: "Gilroy-Medium";
  font-size: 15px;
  line-height: 24px;
  margin-right: 20px;
}

.Others .copyright {
padding-left: 20px
}

@media (min-width: 768px) {
  .FooterDiv {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    margin: 0 100px;
  }

  .Lists {
    justify-content: flex-start;
    margin: 0;
  }

  .textFooterDiv {
    text-align: left;
  }

  .Others {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    width: 100%;
  }

  .Others .copyright {
    margin-left: 0;
  }

  .Others .termsPrivacy {
    margin-left: 20px;
  }
}
