div#flexDiv {
    display: flex;
    padding-block: 120px;
    padding-inline: 70px;
}

#flexDiv > div> h1 {
    font-size: 40px;
    font-family: Poppins;
    font-weight: 600;
}

#flexDiv > div.whyUs {
    margin-left: 50px;
}

#flexDiv > div.whyUs > h2 {
    font-family: open sans;
}

#flexDiv > div.whyUs > p {
    font-family: open sans;
    line-height: 30px;
    color: #323232;
    font-weight: 300;
}

#flexDiv > div.whyUs > a {
    font-family: open sans;
    font-size: 14px;
    text-decoration: none;
    color: rgb(255, 140, 0);
}