.slider-btn {
  display: flex;
  margin: auto;
  margin-top: -20px;
  margin-bottom: 50px;
  background-color: #eeeeee;
  padding: 6px;
  border-radius: 24px;
  width: 330px;
}

.slider-btn > button {
  cursor: pointer;
  width: 84px;
  height: 46px;
  padding: 4px;
  border: none;
  border-radius: 32px;
  font-weight: 400;
  font-size: 17px;
  font-family: "Gilroy-Medium";
}

.slider {
  position: relative;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  display: flex;
  min-width: 100%;
  justify-content: center;
}

.slide-item {
  text-align: left;
  position: relative;
  background-color: white;
  border-radius: 24px;
  max-width: 300px;
  margin: 0 25px;
  font-family: "Inter";
}

.slide-item > div {
  margin-left: 20px;
}

.slide-item > h2 {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 600;
}

.cost {
  margin-top: 40px;
  padding-bottom: 20px;
}

.slide-item > p {
  color: gray;
  font-size: 18px;
  margin-left: 20px;
}

.slide-item > img.imageProduct {
  position: relative;
  top: 10px;
  width: 240px;
  height: 250px;
}

.slide-item > img.plus {
margin-left: 170px;
margin-top: -100px;
}

.prev,
.next {
  box-shadow: 0px 7.03px 19.53px 0px #0000000f;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px 18px;
  border-radius: 50%;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  border: none;
  background-color: white;
  user-select: none;
}

.main {
  text-align: center;
  padding-bottom: 100px;
}

.main > a {
  position: relative;
  top: 50px;
  color: orange;
  text-decoration: none;
  font-family: "Inter";
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

@media (max-width: 1200px) {
  .slider-btn,
  .prev,
  .next {
    display: none;
  }

  .slides {
    display: flex;
    flex-wrap: wrap;
  }

  .slide-item {
    max-width: 100%;
    margin: auto;
    margin-bottom: 20px;
  }
}

@media (max-width: 992px) {
  .slider-btn,
  .prev,
  .next {
    display: none;
  }

  .slides {
    display: flex;
  }


  .slide-item {
    max-width: 30%;
    margin: auto;
    margin-bottom: 20px;
  }
}

@media (max-width: 722px) {
  .slider-btn,
  .prev,
  .next {
    display: none;
  }

  .slides {
    display: flex;
  }
  .slide {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin-bottom: -885px;
  }

  .slide-item {
    max-width: 100%;
    margin: auto;
    margin-block: 20px;
  }
}
